<% if @task.errors.any? %>
	<ul>
		<% @task.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>	
	</ul>
<% end %>

<%= form_for @task do |p| %>
	<div class="form-group">	
		<%= p.label :title %>
		<%= p.text_field :title, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">	
		<%= p.label :due_date %>
		<%= p.datetime_field :due_date, class: "form-control" %>
	</div>
	<div class="form-group">	
		<%= p.label :body %>
		<%= p.text_area :body, class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= p.label :title, "Select Associated Project"  %>
		<br>
			<div class="well">
				<% @projects.each do |project| %>
					<%= p.radio_button :project_id, project.id %>
					<%= p.label :title, project.title %>
					<br>
				<% end %>
			</div>
	</div>
	<br>
		<%= p.submit class: "btn btn_primary" %>
<% end %>