<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<h2> Tasks in progress </h2>
	<div class="well">
		<% @tasks.each do |task| %>
			<% if task.done == false %>
				<h3><%= link_to task.title, task %></h3>
				<p> Due Date: <%= task.due_date %></p>
				<p> Body: <%= task.body %></p>
				<p> Associated project: <%= task.project_id %></p>
					<% if task.done? %>
						<p> Task Completed </p>
					<% else %>
						<p> Task in Progress </p>
					<% end %>
					<br>
			<% end %>
		<% end %>
	</div>

<hr>

<h2> Tasks Completed </h2>
	<div class="well">
		<% @tasks.each do |task| %>
			<% if task.done == true %>
				<h3><%= link_to task.title, task %></h3>
				<p> Due Date: <%= task.due_date %></p>
				<p> Body: <%= task.body %></p>
				<p> Associated project: <%= task.project_id %></p>
					<% if task.done? %>
						<p> Task Completed </p>
					<% else %>
						<p> Task in Progress </p>
					<% end %>
					<br>
			<% end %>
		<% end %>
	</div>





