<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<h2><strong><%= @project.title %></strong></h2>

<p><%= @project.description %></p>
<p><%= @project.due_date %></p>

<%= link_to "Edit", edit_project_path(@project) %>

<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>